/** -------------------------------- IMPORTS -------------------------------- **/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); /** Agbalumo **/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); /** Josefin Sans **/

/** VARIABLES **/

:root{

    /** COLOR PALETTE **/
    --light-pink: #d77fbd;
    --light-pink-trans: rgba(215, 127, 189, 0.75);
    --dark-pink: #e057c3;
    --dark-pink-trans: rgba(224, 87, 195, 0.85);
    --light-purple: #873776;
    --dark-purple: #54334d;
    --text-color: #381c32;
    --off-black: #111111;
    --lighter-black: #2a2a2a;
    
    /** FONTS **/
    --header-font: 'Agbalumo', sans-serif;
    --text-font: 'Josefin Sans', arial;
}

/** ------------------------------------------------------------------------------- **/
/** ------------------------ 1920 * 1080 OPTIMIZED  ------------------------------- **/
/** ------------------------------------------------------------------------------- **/

/** -------------------------------- GENERAL -------------------------------- **/

* {/** Set general margin, padding, border **/
    margin: 0;
    padding: 0;
    border: none;
}

body {/** Set general background color and font **/
    background-color: var(--light-pink);
    font-family: var(--text-font);
}

.add-shadow {
    box-shadow: 8px 8px 8px var(--off-black);
}

h1 {
    font-size: 200%;
    text-shadow: 2px 2px 4px var(--lighter-black);
}

p {
    font-size: 150%;
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 150%;
    }
    
    p {
        font-size: 110%;
    }
}

/** -------------------------------- HEADER -------------------------- **/

.navbar-expand-xl .navbar-collapse {
    position: absolute;
    right: 1%;
}

#logo{
    max-width: 200px;
}

#navbar{
    background-color: var(--dark-pink-trans);
}

.header-text{
    font-family: var(--header-font);
    font-size: 160%;
}

.active{
    border-bottom: 2px solid var(--text-color);
}

.nav-link:hover{
        color: var(--off-black) !important;
        border-bottom: 1px solid var(--off-black) !important;
}

@media screen and (max-width: 1199px) { 
    .navbar-expand-xl .navbar-collapse {
        position: relative;
        right: 1%;
    }
    .hide-small{
        display: none;
    }
}

/** -------------------------------- FOOTER -------------------------- **/

footer {
    position: relative;
    bottom: 0;
    background-color: var(--dark-pink-trans);
    padding: 5px 0;
    width: 100%;
    font-family: var(--header-font);
}

footer a{
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover{
    text-decoration: none;
    color: var(--off-black);
    border-bottom: 1px solid var(--off-black);
}

.footer-text{
    font-family: var(--header-font);
    font-size: 140%;
}

@media screen and (max-width: 991px) { 
    .footer-text{
        font-size: 150%;
    }
}

/* ------------------------- HOME --------------------------------- */


@media (orientation: portrait) {
    .wrapper {
        background: url('../images/image3.png') no-repeat fixed top right / cover;
        min-height: 78vh;
    }
}

@media (orientation: landscape) {
    .wrapper {
        background: url('../images/image3-land.png') no-repeat fixed top right / cover;
        min-height: 78vh;
    }
}

.jumbotron {
    background-color: var(--light-pink-trans);
}

/* ------------------------- TOUCH --------------------------------- */

.form-label {
    color: var(--off-black);
    font-weight: 800;
}

.jumbotron-touch {
    background-color: var(--light-pink-trans);
    min-width: 50vw;
}

#user-input-name, #user-input-email, #user-input-number, #user-contact-message {
    background: none;
    border: 2px solid var(--off-black);
}

#user-input-name::placeholder, #user-input-email::placeholder, #user-input-number::placeholder, #user-contact-message::placeholder {
    color: var(--off-black);
}

input[type="radio"] {
    accent-color: var(--off-black);
}

.button-shadow {
    box-shadow: 3px 3px 3px var(--off-black);
    border: 2px solid var(--off-black)
}

/* ------------------------- CONTACT --------------------------------- */

.contact-link {
    color: var(--text-color);
    text-decoration: none;
}

.contact-link:hover {
    color: var(--off-black);
    text-decoration: none;
    border-bottom: 1px solid var(--off-black);
}

.map {
    border: 2px solid var(--off-black);
}

/* ------------------------- SERVICES --------------------------------- */

ul {
    list-style-type: none;
    padding: 0;
}

/* ------------------------- GALLERY --------------------------------- */

.jumbotron-touch img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1vh;
    border: 2px solid var(--off-black);
    transition: 0.3s;
  }

  .jumbotron-touch img:hover {
    transform: scale(1.1);
  }