/** -------------------------------- IMPORTS -------------------------------- **/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); /** Agbalumo **/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); /** Josefin Sans **/

/** VARIABLES **/

:root{

    /** COLOR PALETTE **/
    --light-pink: #d77fbd;
    --dark-pink: #e057c3;
    --dark-pink-trans: rgba(224, 87, 195, 0.85);
    --light-purple: #873776;
    --dark-purple: #54334d;
    --text-color: #381c32;
    --off-black: #111111;
     
    /** FONTS **/
    --header-font: 'Agbalumo', sans-serif;
    --text-font: 'Josefin Sans', arial;
}

/** ------------------------------------------------------------------------------- **/
/** ------------------------ 1920 * 1080 OPTIMIZED  ------------------------------- **/
/** ------------------------------------------------------------------------------- **/

/** -------------------------------- GENERAL -------------------------------- **/

* {/** Set general margin, padding, border **/
    margin: 0;
    padding: 0;
    border: none;
}
body {/** Set general background color and font **/
    background-color: var(--light-pink);
    font-family: var(--text-font);
    margin-bottom: 60px;
}

/** -------------------------------- HEADER -------------------------- **/

.navbar-expand-xl .navbar-collapse {
    position: absolute;
    right: 1%;
}
#logo{
    max-width: 200px;
}
.hor-break{
    display: none;
}
#navbar{
    background-color: var(--dark-pink-trans);
}
.header-text{
    font-family: var(--header-font);
}
.active{
    border-bottom: 2px solid var(--text-color);
}
.nav-link:hover{
        color: var(--off-black) !important;
        border-bottom: 1px solid var(--off-black) !important;
}


@media screen and (min-width: 100px) and (max-width: 1199px) { 
    .navbar-expand-xl .navbar-collapse {
        position: relative;
        right: 1%;
    }
    .hor-break{
        display: flex;
    }
    #hide-small{
        display: none;
    }
}

/** -------------------------------- FOOTER -------------------------- **/

  footer {
    background-color: var(--dark-pink-trans);
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: var(--header-font);
  }

  footer a{
    text-decoration: none;
    color: var(--text-color);
  }

  footer a:hover{
    text-decoration: none;
    color: var(--off-black);
    border-bottom: 1px solid var(--off-black);
  }