{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="jumbotron-touch add-shadow p-5 text-center mt-3 mb-3">
            <h1 class="mb-4"><strong>Contact</strong></h1>
            <div class="row">
                <div class="col-12 col-xl-6 d-flex align-items-center justify-content-center">
                    <address>
                            <p><strong>Dog Style</strong></p>
                            <hr>
                            <p>2 Castle Street</p>
                            <p>Loughrea, County Galway</p>
                            <p>H62 P499</p>
                    <hr>
                    <p class="text-center">
                        <a href="mailto:dogstyleloughrea@gmail.com?subject=Inquiry%20About%20Grooming&body=Hello%20Dog%20Style%20Team," class="contact-link">
                            <i class="bi bi-envelope-fill"></i>
                            dogstyleloughrea@gmail.com
                        </a>
                    </p>
                    <p class="text-center">
                        <a href="tel:0857821140" class="contact-link">
                            <i class="bi bi-telephone-fill"></i>
                            085 782 11 40
                        </a>
                    </p>
                    <hr>
                    </address>
                </div>
                <div class="col-12 col-xl-6">
                    <img src="{% static 'images/map.png' %}" alt="Map" class="img-fluid map">
                </div>
            </div>
        </div>
{% endblock %}