{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="jumbotron-touch add-shadow p-3 text-center mt-3 mb-3">
            <h1 class="py-4"><strong>Gallery</strong></h1>
            <img src="{% static 'images/image1.jpeg' %}" alt="Image 1" class="add-shadow for-zoom">
            <img src="{% static 'images/image2.jpeg' %}" alt="Image 2" class="add-shadow for-zoom">
            <img src="{% static 'images/image3.jpeg' %}" alt="Image 3" class="add-shadow for-zoom">
            <img src="{% static 'images/image4.jpeg' %}" alt="Image 4" class="add-shadow for-zoom">
            <img src="{% static 'images/image5.jpeg' %}" alt="Image 5" class="add-shadow for-zoom">
            <img src="{% static 'images/image6.jpeg' %}" alt="Image 6" class="add-shadow for-zoom">
            <img src="{% static 'images/image7.jpeg' %}" alt="Image 7" class="add-shadow for-zoom">
            <img src="{% static 'images/image8.jpeg' %}" alt="Image 8" class="add-shadow for-zoom">
            <img src="{% static 'images/image9.jpeg' %}" alt="Image 9" class="add-shadow for-zoom">
            <img src="{% static 'images/image10.jpeg' %}" alt="Image 10" class="add-shadow for-zoom">
            <img src="{% static 'images/image11.jpeg' %}" alt="Image 11" class="add-shadow for-zoom">
        </div>
        <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
