{% extends "base.html" %}
{% load static %}

{% block content %}
      <div class="jumbotron add-shadow p-3 text-center">
        <h1 class="my-3">
          <strong>
            🐾 Welcome to Dog Style 🐾
          </strong>
        </h1>
        <p class="my-3">
          Where Elegance Meets Wagging Tails !
        </p>
        <p class="my-3">
          Unleash the beauty in your furry friend at Dog Style. Our expert groomer Andzelika combines passion and skill to pamper your pets with personalized care, creating a grooming experience like no other.
        </p>
      </div>
{% endblock %}