{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="jumbotron-touch add-shadow p-3 text-center mt-3 mb-3">
            <h1><strong>Services</strong></h1>
                <ul>
                    <li class="py-2">
                    <strong>Bathing and Grooming:</strong>
                    <ul>
                        <li>Full bathing services, including shampooing and conditioning.</li>
                        <li>Professional grooming, including trimming, brushing, and nail clipping.</li>
                    </ul>
                    </li>
                
                    <li class="py-2">
                    <strong>Haircut and Styling:</strong>
                    <ul>
                        <li>Breed-specific or customized haircuts to keep dogs looking neat and stylish.</li>
                        <li>Creative styling for special occasions, such as bows or accessories.</li>
                    </ul>
                    </li>
                
                    <li class="py-2">
                    <strong>Teeth Cleaning:</strong>
                    <ul>
                        <li>Dental hygiene services, including teeth cleaning and breath freshening.</li>
                        <li>Education on at-home dental care for dog owners.</li>
                    </ul>
                    </li>
                
                    <li class="py-2">
                    <strong>Spa and Relaxation Packages:</strong>
                    <ul>
                        <li>Spa treatments like massages to relax and pamper dogs.</li>
                        <li>Special spa packages that may include luxurious treatments and extra attention.</li>
                    </ul>
                    </li>
                
                    <li class="py-2">
                    <strong>Specialized Treatments:</strong>
                    <ul>
                        <li>Flea and tick treatments to maintain the health of the dog's coat.</li>
                        <li>Skin treatments for dogs with specific skin conditions, such as moisturizing or medicated baths.</li>
                    </ul>
                    </li>
                </ul>
        </div>
{% endblock %}